@model GTAC.Models.Student

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create Student</h6>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EnrolledAt" class="control-label"></label>
                        <input asp-for="EnrolledAt" class="form-control" />
                        <span asp-validation-for="EnrolledAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GraduatedAt" class="control-label"></label>
                        <input asp-for="GraduatedAt" class="form-control" />
                        <span asp-validation-for="GraduatedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="InstructorId" class="control-label"></label>
                        <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.InstructorId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" /> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
