@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<!-- breadcrumb start -->
<div class="breadcrumb-area" style="background-image: url('/assets-home/img/other/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Sign In</h2>
                <ul class="page-list">
                    <li><a href="index-2.html">Home</a></li>
                    <li>Sign In</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- signin-page-Start -->
<div class="signin-page-area pd-top-120 pd-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <form id="account" method="post" class="signin-inner">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12">
                            <div class="single-input-inner style-bg-border">
                                <input asp-for="Input.Email" placeholder="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-input-inner style-bg-border">
                                <input asp-for="Input.Password" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="single-checkbox-inner">
                                <input asp-for="Input.RememberMe">
                                Remember me
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <button type="submit" class="btn btn-base w-100">Sign In</button>
                        </div>

                        <div class="col-12">
                            @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                            Dont have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><strong>Signup</strong></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- signin-page-end -->

<div class="row">
    <div class="col-md-4">
        <section>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
