@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";

}
<!-- breadcrumb start -->
<div class="breadcrumb-area" style="background-image: url('/assets-home/img/other/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Register</h2>
                <ul class="page-list">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Register</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- signin-page-Start -->
<div class="signin-page-area pd-top-120 pd-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="signin-inner">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.Firstname" placeholder="Firstname*" />
                            <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.Lastname" placeholder="Lastname*" />
                            <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.Middlename" placeholder="Middlename*" />
                            <span asp-validation-for="Input.Middlename" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.Address" placeholder="Address*" />
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.PhoneNumber" placeholder="PhoneNumber*" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.Birthday" placeholder="Birthday (mm/dd/yyyy)*" />
                            <span asp-validation-for="Input.Birthday" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <select asp-for="Input.Instructor" asp-items="ViewBag.Instructors">
                                <option value="">Select Instructor*</option>
                            </select>
                            <span asp-validation-for="Input.Instructor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.Email" placeholder="Email*" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.Password" placeholder="Password*" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-input-inner style-bg-border">
                            <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password*" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <button type="submit" class="btn btn-base w-100">Register</button>
                    </div>
                    <div class="col-12">
                        Already have an account? <a asp-page="./Login"><strong>Login</strong></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- signin-page-end -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
