@{
    ViewData["Title"] = "How To Enroll";
}
<!-- breadcrumb start -->
<div class="breadcrumb-area" style="background-image: url('/assets-home/img/other/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Enrollment Process</h2>
                <ul class="page-list">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>How To Enroll</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about area start -->
<div class="about-area bg-relative pd-top-90 pd-bottom-70" id="aboutus">
    <div class="container">
        <div class="about-area-inner">
            <div class="row">
                <div class="col-lg-8 col-md-11">
                    <div>
                        <img src="~/images/CompanyInfos.jpg" />
                    </div>
                </div>
                <div class="col-lg-4 align-self-center">
                    <div class="about-inner-wrap mt-2 pt-4 pt-lg-0">
                        <div class="section-title mb-0">
                            <h2 class="title">Step by Step Guide</h2>
                            <p>
                                <ol>
                                    <li>Inquire in the facebook page</li>
                                    <li>Visit the office</li>
                                    <li>Down or Full payment</li>
                                    <li>Submit the requirements</li>
                                    <li>Set schedule</li>
                                </ol>
                            </p>
                        </div>
                        <div class="section-title mb-0">
                            <h2 class="title">Requirements</h2>
                            <p>
                                <ul style="padding-left: revert">
                                    <li>Photocopy of NSO birth certificate if married Marriage Contract</li>
                                    <li>Photocopy of DL/SP (optional) </li>
                                    <li>Latest Barangay certificate </li>
                                    <li>2 copies passport size picture wearing polo with collar white background</li>
                                    <li>Photocopy of vaccination card</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about area end -->
<div class="contact-area pd-bottom-120 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="media single-contact-info">
                    <div class="media-left thumb">
                        <img src="~/assets-home/img/icon/14.png" alt="img">
                    </div>
                    <div class="media-body details">
                        <h4>Mail Drop Us</h4>
                        <p>grandeurtac.2019@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="media single-contact-info">
                    <div class="media-left thumb">
                        <img src="~/assets-home/img/icon/13.png" alt="img">
                    </div>
                    <div class="media-body details">
                        <h4>Call Us</h4>
                        <ul>
                            <li>+(035) 523-3070</li>
                            <li>0926-141-8856</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="media single-contact-info">
                    <div class="media-left thumb">
                        <img src="~/assets-home/img/icon/15.png" alt="img">
                    </div>
                    <div class="media-body details">
                        <h4>Location</h4>
                        <p>BL HOMES San Jose Ext., Bogo Taclobo, Dumaguete City, Neg. Or.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>