@{
    ViewData["Title"] = "Home";
    ViewData["AboutusLink"] = "Home";
}

<!-- banner start -->
<div class="banner-area banner-area-1" style="background-image: url('assets-home/img/banner/1.png');">
    <div class="banner-bg"></div>
    <div class="container">
        <div class="row">

            <div class="col-xl-6 col-lg-7 align-self-center">
                <div class="banner-inner style-white text-center text-lg-left">
                    <img class="animate-img-1 top_image_bounce" src="/assets-home/img/shape/3.png" width="116" alt="img">
                    <h6 class="b-animate-1 sub-title">Tesda Accredited</h6>
                    <h1 class="b-animate-2 title">Grandeur</h1>
                    <h3 class="b-animate-2 title">
                        Training and Assessment Center, Inc.
                    </h3>
                    <p class="content b-animate-3">Much more than simply providing you with the skills to pass your driving test, we will teach you in a calm, professional style how to drive both confidently and compentently.</p>
                    <div class="btn-wrap">
                        <a class="btn btn-base b-animate-4 mr-3" href="#aboutus">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- about area start -->
<div class="about-area bg-relative pd-top-90 pd-bottom-120" id="aboutus">
    <div class="container">
        <div class="about-area-inner">
            <div class="row">
                <div class="col-lg-6 col-md-11">
                    <div class="about-thumb-wrap about-left-thumb">
                        <img class="img-1" src="~/assets-home/img/about/1.png" alt="img">
                        <img class="img-2" src="~/assets-home/img/about/2.png" alt="img">
                        <img class="img-3" src="~/assets-home/img/about/3.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-inner-wrap mt-2 pt-4 pt-lg-0">
                        <div class="section-title mb-0">
                            <h6 class="sub-title left-line">About Us</h6>
                            <h2 class="title">GRANDEUR Training and Assessment Center, Inc.</h2>

                            <p class="content">
                                Despite being categorized as a small business, we believe that all giants began as infants. We assist our clients with valuable and much more affordable to every individual, though taking them from learner’s license to driver’s license at a low cost. The company was founded by JOSEPH FLETCHER C. KATADA, a longtime trainer of driving schools, and his wife, EDNALONA P. KATADA, an auditor of one of the well-known company here in Negros Oriental, sought to go into business themselves.
                            </p>
                            <p class="content">
                                The GRANDEUR Training and Assessment Center, Inc. was established in the year 2019 August 02 and also known as a GRANDEUR Driving School, and was incorporated under the laws of the Philippines, and obtained a permit to operate under the Accreditation of TESDA – Technical Education and Skills Development Authority.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about area end -->
<style>
    .single-contact-info {
        min-height: 172px
    }
</style>
<!-- counter area start -->
<div class="counter-area bg-black pd-top-90 pd-bottom-90">
    <div class="counter-area-bg" style="background-image: url('/assets-home/img/bg/1.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="media single-contact-info">
                        <div class="media-left thumb">
                            <img src="~/assets-home/img/icon/14.png" alt="img">
                        </div>
                        <div class="media-body details">
                            <h4>Mail Drop Us</h4>
                            <p>grandeurtac.2019@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="media single-contact-info">
                        <div class="media-left thumb">
                            <img src="~/assets-home/img/icon/13.png" alt="img">
                        </div>
                        <div class="media-body details">
                            <h4>Call Us</h4>
                            <ul>
                                <li>+(035) 523-3070</li>
                                <li>0926-141-8856</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="media single-contact-info">
                        <div class="media-left thumb">
                            <img src="~/assets-home/img/icon/15.png" alt="img">
                        </div>
                        <div class="media-body details">
                            <h4>Location</h4>
                            <p>BL HOMES San Jose Ext., Bogo Taclobo, Dumaguete City, Neg. Or.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter area end -->
<!-- about area start -->
<div class="about-area pd-top-120 pd-bottom-120 bg-relative">
    <div class="container">
        <div class="about-area-inner">
            <div class="row">
                <div class="col-lg-6 col-md-10 order-lg-12 text-lg-right">
                    <div class="about-thumb-wrap about-right-thumb">
                        <img class="img-1" src="~/assets-home/img/about/1.png" alt="img">
                        <img class="img-2" src="~/assets-home/img/about/4.png" alt="img">
                        <img class="img-3" src="~/assets-home/img/about/1.png" alt="img">
                        <div class="about-quote">
                            <img src="~/assets-home/img/icon/8.png" alt="img">
                            We’re trusted by more than 1100 clients
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1 align-self-center">
                    <div class="about-inner-wrap pt-4 pt-lg-0">
                        <div class="section-title mb-0">
                            <h6 class="sub-title left-line">Smart Way</h6>
                            <h2 class="title">Digital Tecnology For Much Easier Driving Learning</h2>
                            <div class="media single-list-inner mt-4">
                                <div class="media-left mr-3">
                                    <img src="~/assets-home/img/icon/6.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h4>Mission</h4>
                                    <p class="mb-0">To provide each student with a solid foundation of knowledge and skills to help them become a safe responsible and confident skilled worker.</p>
                                </div>
                            </div>
                            <div class="media single-list-inner mt-4">
                                <div class="media-left mr-3">
                                    <img src="~/assets-home/img/icon/7.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h4>Vision</h4>
                                    <p class="mb-0">To be recognized and respected as the finest training and assessment center by providing exemplary services, catering to the needs of all types of training that are applicable by a skilled worker, and promoting safety to serve the public.</p>
                                </div>
                            </div>
                            <a class="btn btn-base" asp-area="" asp-controller="Home" asp-action="EnrollmentProcess">How to Enroll</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about area end -->
