@model GTAC.Models.RequestReschedule

@{
    ViewData["Title"] = "Request Reschedule";
}

<h1>Create</h1>

<h4>RequestReschedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DayOne" class="control-label"></label>
                <input asp-for="DayOne" class="form-control" />
                <span asp-validation-for="DayOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayTwo" class="control-label"></label>
                <input asp-for="DayTwo" class="form-control" />
                <span asp-validation-for="DayTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayThree" class="control-label"></label>
                <input asp-for="DayThree" class="form-control" />
                <span asp-validation-for="DayThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayFour" class="control-label"></label>
                <input asp-for="DayFour" class="form-control" />
                <span asp-validation-for="DayFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedAt" class="control-label"></label>
                <input asp-for="ApprovedAt" class="form-control" />
                <span asp-validation-for="ApprovedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
